<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/SignInSignUp.css">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container ">
            <form action="" method="POST" class="sign-in-container form">
                <h1 class="title">Sign in</h1>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" />
                </div>
                <a href="./forgot-password">Forgot your password?</a>
                <button type="submit">Sign In</button>
                <p class="social-text">Or login using other social platforms</p>
                <div class="social-container">
                    <a href="https://www.facebook.com/" class="social" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/" class="social" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://ads.google.com/" class="social" target="_blank">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="https://instagram.com/" class="social" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay" class="form-box">
                <div class="overlay-panel overlay-left">
                    <h1>New here?</h1>
                    <p>Sign up and discover great amount of new opportunities!</p>
                    <img src="/images/undraw_mobile_login_ikmv.svg" alt="">
                </div>

                <div class="overlay-panel overlay-right">
                    <a href="/signup"><button id="signUp">Sign Up</button></a>
                    <h1>One of us?</h1>
                    <p>If you already has an account, just sign in. We've missed you!</p>
                    <img src="/images/undraw_Access_account_re_8spm.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/SignInSignUp.js"></script>
</body>

</html>