/* --------------- header ----------------- */

#top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    background-color: #0f0f0f;
}

#top-left{
    margin: 6px 0 0 10px;
}

#top-left ul li {
    float: left;
    margin-right: 8px;
}

#top-left ul li a {
    color: #ffffff;
}

#top-left ul li a:hover {
    color: #4481eb;
}

#top-right ul {
    color: #ffffff;
}

#top-right{
    margin: 6px 10px 0 0px;
}

#top-right ul li {
    font-size: 13px;
    float: left;
    margin-right: 8px;
}

#top-right ul li a {
    color: #ffffff;
}

#top-right ul li a:hover {
    color: #4481eb;
}

/* End top header */

/* ************************ Header Bottom ******************** */

.header_bottom {
    height: 55px;
    background-color: #f0f0f0;
}

.header_bottom.sticky-header.sticky .main_menu_inner {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_bottom.sticky-header.sticky .logo_sticky {
    display: block;
}

.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
    animation-name: fadeInDown;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.header_bottom.sticky-header.sticky .main_menu_inner {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-header.sticky {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
}

.main_menu_inner {
    text-align: center;
}

.logo_sticky {
    display: none;
    margin-right: 35px;
}

.logo_sticky a img {
    max-width: 120px;
}

.main_menu nav>ul>li {
    margin-top: -12px;
    display: inline-block;
    position: relative;
}

.main_menu nav>ul>li>a i {
    margin-left: 2px;
}

.main_menu nav>ul>li:hover>a {
    color: #4481eb;
}

.main_menu nav>ul>li.active>a {
    color: #4481eb;
}

.main_menu nav>ul>li:first-child a {
    padding-left: 0;
}

.main_menu nav>ul>li:last-child a {
    padding-right: 0;
}

.main_menu nav>ul>li ul.sub_menu {
    position: absolute;
    min-width: 200px;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid #ebebeb;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}

.main_menu nav>ul>li ul.sub_menu>li>a {
    font-size: 15px;
}

.main_menu nav ul li:hover .sub_menu,
.main_menu nav ul li:hover .mega_menu {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}

.main_menu nav ul li ul li.active a,
.main_menu nav ul li ul li a:hover {
    color: #c09578;
}

.main_menu nav>ul>li>ul>li>a {
    color: #808080;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
}

.main_menu nav>ul>li>ul.sub_menu>li:last-child>a {
    margin-bottom: 0;
}

.main_menu nav>ul>li>ul.mega_menu li ul li:last-child a {
    margin-bottom: 0;
}

.main_menu nav ul li ul.mega_menu {
    position: absolute;
    min-width: 580px;
    padding: 30px 25px 35px;
    background: #fff;
    border: 1px solid #ebebeb;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}

.main_menu nav>ul>li>ul.mega_menu>li {
    width: 33%;
    float: left;
}

.main_menu nav>ul>li>ul.mega_menu>li>a {
    text-transform: uppercase;
    color: #242424;
    font-weight: 500;
    margin-bottom: 30px;
}

.main_menu nav>ul>li>ul.maga_menu>li>a:hover {
    color: #c09578;
}

.main_menu nav>ul>li>ul.maga_menu li ul li a {
    color: #808080;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 11px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
}

.main_menu nav>ul>li>ul.maga_menu li ul li a:hover {
    color: #c09578;
}

.main_menu nav ul li ul.sub_menu.pages {
    left: inherit;
    right: inherit;
}

.header_black .main_menu nav>ul>li.active>a {
    color: #4481eb;
}

.header_black .main_menu nav>ul>li:hover>a {
    color: #4481eb;
}

.header_black .main_menu nav>ul>li>a {
    color: #ffffff;
    font-family: serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
}

.header_black .main_menu nav>ul>li ul.sub_menu {
    background: #242424;
    border: 1px solid #2d2d2d;
}

.header_black .main_menu nav>ul>li ul.sub_menu li a {
    color: #ffffff;
    font-family: serif;
}

.header_black .main_menu nav>ul>li ul.sub_menu li a:hover {
    color: #4481eb;
}

.header_black .main_menu nav>ul>li ul.mega_menu {
    background: #242424;
    border: 1px solid #2d2d2d;
}

.header_black .main_menu nav>ul>li ul.mega_menu>li>a {
    color: #ffffff;
    font-family: serif;
}

.header_black .main_menu nav>ul>li ul.mega_menu>li>a:hover {
    color: #4481eb;
}

.header_black .main_menu nav>ul>li ul.mega_menu>li ul li a {
    color: #ffffff;
}

.header_black .main_menu nav>ul>li ul.mega_menu>li ul li a:hover {
    color: #4481eb;
}

.ion-chevron-down {
    font-size: 14px;
    padding-left: 3px;
}

.main_menu nav>ul>li>a {
    display: block;
    padding: 19px 20px;
    color: #212121;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 500;
}

.contact_icone {
    height: 30px;
}

.contact_icone img {
    width: 100%;
    height: 30px;
}
/*End Bottom HEader*/