<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Thêm sản phẩm
    </title>
</head>

<body>
    <main>
        <form action="" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="">
            </div>
            <div>
                <label for="imageUrl">Image Url</label>
                <input type="text" name="imageUrl" id="imageUrl" value="">
            </div>
            <div>
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="">
            </div>

            <div>
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"></textarea>
            </div>
            <button type="submit">
                Them
            </button>
        </form>
    </main>
</body>

</html>